body {
    background: linear-gradient(to right, #E6E6FA, #FFFFE0);
    background: #FFFFE0;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: white;
    width: 40%;
    height: 75%;
}

.field {
    margin-top: 30px;
}

.buttons {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 100px;
}